.layout .header{
   background-color: #5e5e05 !important;
}
.accordion-item-title
{
    /* background-color: #4d6690 !important;*/
    /*recent--background-color: #8f8c6b !important;*/
    /* background-color: #eaeff1 !important;*/
    background-color:#666; !important;
    font-weight: 800;
    font-size: 14px !important;
    border-radius: 4px;
}
.accordion-item-header {
   color: white;
}

.TableRecords .TableRecords_Header, .EditableTable thead th
{
   /* background-color: #dbe1e6!important;*/
    
/*background-color:rgba(241, 243, 245, 1) !important;*/
 /*background-color: #146ef5 !important;*/
  background-color: #4d6690 !important;
    color: white !important;

}
th.TableRecords_Header,
th.TableRecords_Header a,
th.TableRecords_Header a:hover:active:visited {
    color: white !important;
}
div.Counter_Message
{
    color:#000!important;    
}
.height_100pct {
    height: 100%;   
}

.tile-highlight {
    border-bottom: 5px solid indianred;
    padding-bottom: 1px;    
}